html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px auto;
	padding: 0;
    background-image: url("../images/witewall_3.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

header {
	border-bottom-style: solid;
	border-color: #cccccc;
	background: #ffffff;
    margin-bottom: 25px;
}


header h1 {
    
	font-family: "Georgia", "Times New Roman", serif;
    background-color: #4aaaa5;
	color: #ffffff;
    float: left;
    text-align: center;
    margin: 0;
    padding: 7px;

}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    height: 50px;
	overflow: hidden;
}


li {
	float: right;
}

li a {
	display: block;
	color: #777777;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	width: 50px;
}

li a:hover {
	background-color: #dddddd;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

main, .content  {
	width: 	960px;
	margin: auto;
}


h2, h3 {
	color: #4aaaa5;
	border-bottom-style: solid;
	border-color: #dddddd;
	font-family: "Georgia", "Times New Roman", serif;
	padding-bottom: 10px;
}

section {
	width: 	610px;
	background: #ffffff;
	float: left;
	padding: 20px;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
}

section img {
	margin: 0 30px 30px 0;
}


aside {
	width: 	250px;
	background: #fff;
	float: right;
	padding: 10px;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
}



footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
	background-color: #666666;
	color: #dddddd;
	font-size: 0.8em;
	border-top-style: solid;
	border-color: #4aaaa5;
	border-width: 6px;


}


input[type=text], select {
    width: 100%;
    padding: 4px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 4px 10px;
    margin: 8px 0;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 20%;
    background-color: #4aaaa5;
    color: white;
    padding: 8px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.image1 {
    float: left;
}

.image2 {
    display:none;
}
.image3 {
    display:none;
}


.portfolio {
    position: relative;    
    margin:0;
    padding: 0;
    float:left;
    margin-left: 20px
}

.portfolio p {
    
    position: absolute;
    margin: 0;
    top:200px ;
    width:250px;
    text-align: center;
    background-color:  #4aaaa5;
    color: #ffffff;
    font-size: 1.5em;
    height:1.5em;
    padding-top: 5px
    
    
}


@media screen and (max-width: 980px) {

	section {
	width: 	400px;
	}

	aside {
	width: 	200px;
	}

	main, .content {
		width: 	700px;
	}
    
}

@media screen and (max-width: 768px) {

	section {
	width: 	600px;
	float: none;
	}

	aside {
	width: 	600px;
	float:none;
	margin-top: 50px;
	padding: 20px;
	}

	main, .content {
		width: 	668px;
	}

    .image3 {
        display: block;

    }
    .image1 {
        display: none;
    }
    
}

@media screen and (max-width: 640px) {


	section {
	width: 	520px;
	float: none;
	}
    .image2 {
        display: block;
        float: none;
    }
    
    .image1 {
        display: none;
    }
    
    .image3 {
        display: none;
    }

	aside {
	width: 	520px;
	float:none;
	margin-top: 50px;
	padding: 20px;
	}

	main, .content {
		width: 	600px;
	}

	header h1 {
	display: none;
	}
	li {
	float: left;
	margin-left: 60px;
	}

    
}

